@import './card-variables.styl'

// Outer classes
.card-stack
  width 100%
  min-width 800px
  max-width 1500px
  padding 50px 20px
  font-family HelveticaNeue

.card-stack__wrapper
  margin 0 20px
  box-shadow $shadow-depth-1


// Individual card and variations
.card
  border $border
  border-bottom 0
  background-color #eaf0f6
  max-height $initial-height
  position relative
  transition all $transition-duration $transition-timing-func
  overflow-y hidden
  margin 0

  &:hover
    box-shadow $shadow-depth-2
    z-index 2

  &:last-child .card-stack__card-main
    border-bottom $border

.card--expanded
  margin -10px -20px -10px -20px
  border-bottom $border
  border $border-dark
  box-shadow $shadow-depth-3
  z-index 3
  max-height 9999px

  & *
    transition max-height 3s ease-out

  &:hover
    top 0
    box-shadow $shadow-depth-3

  & + .card:hover
    z-index 1

// Top card content

.card__summary
  display inline-block
  width 100%
  border-bottom 1px solid #eaf0f6

.card__details
  padding 20px
  width 100%
  max-height 2000px
  overflow-y hidden
  background-color #F9FBFD

  &.card__details--collapsed
    max-height 0
    padding 0

   & div
    display block
